<div class="container">
	<div class="mt-3 mb-5 text-center">
		<h1 class="font-weight-bold"><%= person.name %></h1>
		<div>
			<% if (isFollowing) { %>
			<a
				href="/persons/<%= person._id %>/follow-toggle"
				class="btn btn-danger"
			>
				<i class="bi bi-person-x"></i> Unfollow
			</a>
			<% } else { %>
			<a
				href="/persons/<%= person._id %>/follow-toggle"
				class="btn btn-primary"
			>
				<i class="bi bi-person-plus"></i> Follow
			</a>
			<% } %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 offset-md-4">
			<% if(directed.length) { %>
			<div class="mb-3">
				<h4 class="font-weight-bold">Directed</h4>
				<ul class="list-group">
					<% for (let movie of directed) { %>
					<li class="list-group-item">
						<a href="/movies/<%= movie._id %>"
							><%= movie.title %></a
						>
					</li>
					<% } %>
				</ul>
			</div>
			<% } %> <% if(wrote.length) { %>
			<div class="mb-3">
				<h4 class="font-weight-bold">Wrote</h4>
				<ul class="list-group">
					<% for (let movie of wrote) { %>
					<li class="list-group-item">
						<a href="/movies/<%= movie._id %>"
							><%= movie.title %></a
						>
					</li>
					<% } %>
				</ul>
			</div>
			<% } %> <% if(acted.length) { %>
			<div class="mb-3">
				<h4 class="font-weight-bold">Acted</h4>
				<ul class="list-group">
					<% for (let movie of acted) { %>
					<li class="list-group-item">
						<a href="/movies/<%= movie._id %>"
							><%= movie.title %></a
						>
					</li>
					<% } %>
				</ul>
			</div>
			<% } %> <% if(topCollaborators.length) { %>
			<div class="mb-3">
				<h4 class="font-weight-bold">Top collaborators</h4>
				<ul class="list-group">
					<% for (let person of topCollaborators) { %>
					<li class="list-group-item">
						<a href="/persons/<%= person._id %>"
							><%= person.name %></a
						>
					</li>
					<% } %>
				</ul>
			</div>
			<% } %>
		</div>
	</div>
</div>
